---
layout: default
---

<h1>Screenshots</h1>
<p>Welcome to Screenshots, the open source design inspiration spot.</p>

<h3>Browse by Platform</h3>
<div class="grid">
    <div class="channel-item">
        <h1><a href="Email/">Email</a></h1>
    </div>
    <div class="channel-item">
        <h1><a href="Mobile/">Mobile</a></h1>
    </div>
    <div class="channel-item">
        <h1><a href="Web/">Web</a></h1>
    </div>
</div>

<h3>Recently Added</h3>
<ul class="directory-menu home">
    <li class="menu-item"><a href="{{ site.baseurl }}/Web/Facebook/" class="menu-item-a">Facebook (Web)</a></li>
    <li class="menu-item"><a href="{{ site.baseurl }}/Web/LinkedIn/" class="menu-item-a">LinkedIn (Web)</a></li>
    <li class="menu-item"><a href="{{ site.baseurl }}/Web/Gitlab/" class="menu-item-a">Gitlab (Web)</a></li>
    <li class="menu-item"><a href="{{ site.baseurl }}/Web/HubSpot/" class="menu-item-a">HubSpot (Web)</a></li>
    <li class="menu-item"><a href="{{ site.baseurl }}/Web/Wolfram Alpha/" class="menu-item-a">Wolfram Alpha (Web)</a></li>
    <li class="menu-item"><a href="{{ site.baseurl }}/Web/Trello/" class="menu-item-a">Trello (Web)</a></li>
</ul>

<h3>Random 20</h3>
<div class="grid masonry">
    {% assign image_files = site.static_files | sample: 20 %}
    {% for image in image_files limit: 20 %}
        {% if image.extname contains 'png' or image.extname contains 'jpg' or image.extname contains 'jpeg' or image.extname contains 'gif' %}
            {% if image.path contains 'Mobile' %}
                <div class="img-item mobile">
                    <a href="{{ site.baseurl }}{{ image.path }}" target="_blank">
                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                    </a>
                </div>
            {% elsif image.path contains 'Web' %}
                <div class="img-item web">
                    <a href="{{ site.baseurl }}{{ image.path }}" target="_blank">
                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                    </a>
                </div>
            {% else %}
                <div class="img-item email">
                    <a href="{{ site.baseurl }}{{ image.path }}" target="_blank">
                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>