---
layout: default
---

<h1>Screenshots</h1>
<p>Welcome to Screenshots, the open source design inspiration spot.</p>

<h3>Browse by Platform</h3>
<div class="grid">
    <div class="channel-item">
        <h1><a href="Email/">Email</a></h1>
    </div>
    <div class="channel-item">
        <h1><a href="Mobile/">Mobile</a></h1>
    </div>
    <div class="channel-item">
        <h1><a href="Web/">Web</a></h1>
    </div>
</div>

<h3>Recently Added</h3>
<ul class="directory-menu home">
    <li class="menu-item"><a href="{{ site.baseurl }}/Mobile/Lemonade/" class="menu-item-a">Lemonade (Mobile)</a></li>
    <li class="menu-item"><a href="{{ site.baseurl }}/Web/Lemonade/" class="menu-item-a">Lemonade (Web)</a></li>
    <li class="menu-item"><a href="{{ site.baseurl }}/Web/JSTOR/" class="menu-item-a">JSTOR (Web)</a></li>
    <li class="menu-item"><a href="{{ site.baseurl }}/Web/Airtable/" class="menu-item-a">Airtable (Web)</a></li>
    <li class="menu-item"><a href="{{ site.baseurl }}/Web/AlphaSense/" class="menu-item-a">AlphaSense (Web)</a></li>
    <li class="menu-item"><a href="{{ site.baseurl }}/Web/Capital IQ/" class="menu-item-a">Capital IQ (Web)</a></li>
</ul>

<h3>Random 20</h3>
<div class="grid masonry">
    {% assign image_files = site.static_files | sample: 20 %}
    {% for image in image_files limit: 20 %}
        {% if image.path contains 'Mobile' %}
            <div class="img-item mobile">
                <a href="{{ site.baseurl }}{{ image.path }}" target="_blank">
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                </a>
            </div>
        {% elsif image.path contains 'Web' %}
            <div class="img-item web">
                <a href="{{ site.baseurl }}{{ image.path }}" target="_blank">
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                </a>
            </div>
        {% else %}
            <div class="img-item email">
                <a href="{{ site.baseurl }}{{ image.path }}" target="_blank">
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>