{% assign url_parts = page.url | split: '/' %}
{% assign base_url = page.url %}
{% assign pages = site.pages | sort: 'url' %}
{% assign counter = 0 %}

<ul class="directory-menu">
{% for node in pages %}
  {% capture count %}
    {% increment counter %}
  {% endcapture %}
  
  {% if node.url contains base_url %}
    {% assign node_url_parts = node.url | split: '/' %}
    {% assign node_url_parts_size = node_url_parts | size %}
    {% assign filename = node_url_parts | last %}
    {% if node.url != base_url and node.url != '/feed.xml' and node.url != '/sitemap.xml' and node.url != '/robots.txt' and filename != 'style.css' and node.url != '/search' and node.url != '/tags' and node.url != '/Email' and node.url != '/Mobile' and node.url != '/Web' and node.url != '/Web/UNCATEGORIZED' %}
      <li class="menu-item"><a href='{{ node.url | relative_url }}' class="menu-item-a">{{ node.url | remove: base_url | replace: '%20', ' ' }}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>




