{% assign url_parts = page.url | split: '/' %}
{% assign base_url = page.url %}
{% assign pages = site.pages | sort: 'url' %}

<h1>{{ url_parts }}</h1>

<ul class="directory-menu">
{% for node in pages %}
  {% if node.url contains base_url %}
    {% assign node_url_parts = node.url | split: '/' %}
    {% assign node_url_parts_size = node_url_parts | size %}
    {% assign filename = node_url_parts | last %}
    {% if node.url != base_url and node.url != '/feed.xml' and node.url != '/sitemap.xml' and node.url != '/robots.txt' and filename != 'style.css' %}
      <li class="menu-item"><a href='{{ node.url | relative_url }}' class="menu-item-a">{{ node.url | remove: base_url | remove: '/' | replace: '%20', ' ' }}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>