
/* BASE STYLES */
body {
    font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* VARIABLES */
$primaryColor: #2C5D9C;
$primaryDarkColor: #062043;
$primaryLightColor: #D5DFEB;
$darkGrayColor: #384048;
$grayColor: #6C7B8B;
$lightGrayColor: #F0F1F3;
$whiteColor: #FFFFFF;
$blackColor: #000000;


/* HEADER */
header {
    background: #2C5D9C;
    position: sticky;
    top: 0;
    margin-bottom: 56px;
    padding: 24px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 24px;
    box-sizing: border-box;

    a { color: $whiteColor; }
    a:hover { color: $whiteColor; }

    img { display: inline-block; }
    
    h1 { 
        display: inline-block; 
        margin-bottom: 0; 
        font-size: 24px; 
        font-family: 'Roboto', sans-serif; 
        font-weight: 500;
    }

    > div:last-child {
        text-align: right;
    }

    ul {
        list-style: none;
        margin: 0;
        display: inline-block;

        a { 
            text-decoration: none; 
            font-weight: 500; 
            color: $whiteColor;
        }
        a:hover, a:active {
            color: $whiteColor;
        }
        
        li {
            display: inline-block;
            padding-right: 24px;

            a:hover { 
                text-decoration: underline; 
            }
        }
        li:last-child { padding-right: 0; }
    }
}    

// .menu {
//     list-style: none;
//     padding: 0;
//     display: grid;
//     grid-template-columns: repeat(12,1fr);
//     grid-gap: 24px;
// }
//     .menu-item {
//         display: block;
//         grid-column: span 6;
//         position: relative;
//     }
//         .menu-item-a {
//             font-size: 32px;
//             font-weight: 700;
//         }


/* GALLERY */
.grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 24px;
}

.img-item {
    grid-column: span 4;
    position: relative;
    padding: 0;
    max-height: 300px;
    overflow: hidden;
    border-radius: 8px;
}
    .img-item a {
        
    }
    .img-item img {
        width: 100%;
    }