
.grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 24px;
}

.img-item {
    grid-column: span 4;
    position: relative;
    padding: 0;
    max-height: 300px;
    overflow: hidden;
    border-radius: 8px;
}
    .img-item a {
        
    }
    .img-item img {
        width: 100%;
    }