---
---

/* VARIABLES */
$primaryColor: #2C5D9C;
$primaryDarkColor: #062043;
$primaryLightColor: #D5DFEB;
$darkGrayColor: #384048;
$grayColor: #6C7B8B;
$lightGrayColor: #F0F1F3;
$whiteColor: #FFFFFF;
$blackColor: #000000;


/* SPECIAL STYLES */
.hidden {
    display: none;
}


/* BASE STYLES */
body {
    font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    margin: 0;
    color: $darkGrayColor;
}


a {
    color: $primaryColor;
    text-decoration: none;

    :hover {
        text-decoration: underline;
    }

    :visited {
        color: $primaryColor;
    }
}

h1 {
    font-size: 48px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 16px;
}

h6 a, .button { /* H6 is button hack for markdown */
    padding: 16px 32px;
    background: $primaryColor;
    color: $whiteColor;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 16px;
    margin: 0 0 56px;
    display: inline-block;
}
h6 a:hover, .button:hover {
    color: $whiteColor;
    background: lighten( $primaryColor, 8% );
    text-decoration: none;
    font-weight: 600;
}


/* HEADER */
header {
    background: #2C5D9C;
    position: sticky;
    top: 0;
    margin-bottom: 56px;
    padding: 24px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 24px;
    box-sizing: border-box;
    z-index: 1;

    a { color: $whiteColor; text-decoration: none; }
    a:hover { color: $whiteColor; }

    img { display: inline-block; padding: 0; margin: 0; }
    
    h1 { 
        display: inline-block; 
        margin: 0; 
        font-size: 24px; 
        font-family: 'Roboto', sans-serif; 
        font-weight: 500;
    }

    > div:last-child {
        text-align: right;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;

        a { 
            text-decoration: none; 
            font-size: 18px;
            font-weight: 500; 
            color: $whiteColor;
            line-height: 28px;
            display: inline-block;
            text-align: left;
            padding-top: 0;
            height: auto;
        }
        a:hover, a:active {
            color: $whiteColor;
        }

        a.search {
            vertical-align: middle;
            height: 24px;
        }
        
        li {
            display: inline-block;
            padding-right: 24px;

            a:hover { 
                text-decoration: underline; 
            }
        }
        li:last-child { padding-right: 0; }
    }
}    

/* SECTION */
section {
    width: 100%;
    float: none;
    max-width: 88%;
    margin: 0 auto;
    padding-bottom: 56px;
    box-sizing: border-box;
}


/* FOOTER */
footer {
    padding: 80px 0;
    box-sizing: border-box;
    background: $lightGrayColor;
    
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 56px;
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 16px;
        box-sizing: border-box;
    }
    .button {
        margin: 0;
    }
}

/* DIRECTORY MENU */
.directory-menu {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 24px;

    li {
        display: block;
        grid-column: span 6;
        position: relative;

        a {
            font-size: 32px;
            font-weight: 700;
        }
    }
}
    
        


/* GALLERY */
.tags {
    list-style: none;
    margin: 0 0 56px;
    padding: 0;
    display: inline-block;

    li {
        display: inline-block;
        border: 1px solid $grayColor;
        padding: 4px 12px;
        border-radius: 16px;
        color: $grayColor;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 24px;
}

.img-item {
    grid-column: span 4;
    position: relative;
    padding: 0;
    max-height: 300px;
    overflow: hidden;
    border-radius: 8px;

    &.mobile {
        grid-column: span 3;
        max-height: 720px;
    }

    img {
        width: 100%;
    }
}





/* MEDIA QUERIES */
@media (max-width: 768px) {
    header {
        grid-template-columns: auto;
        position: relative;

        > div:last-child {
            text-align: left;
        }
    }

    .directory-menu {
        li {
            grid-column: span 12;
        }
    }

    .img-item {
        grid-column: span 6;
    }

    footer .container {
        grid-template-columns: auto;
    }
}