{% include head.html %}
<script src="/assets/js/toggle-visibility.js"></script>

    <section>

        {% if page.gallery-directory != null %}
            {% capture gallery_path %}/{{ page.gallery-directory }}{% endcapture %}
        {% else %}
            {% capture gallery_path %}/{% endcapture %}
        {% endif %}


        <h1>{{ page.gallery-directory }}</h1>
        
        <ul class="filters">
        {% if page.url contains 'Mobile' %}
            <li onClick="filterImages('email'); this.classList.toggle('active');">Email</li>
            <li class="active" onClick="filterImages('mobile'); this.classList.toggle('active');">Mobile</li>
            <li onClick="filterImages('web'); this.classList.toggle('active');">Web</li>
        {% elsif page.url contains 'Web' %}
            <li onClick="filterImages('email'); this.classList.toggle('active');">Email</li>
            <li onClick="filterImages('mobile'); this.classList.toggle('active');">Mobile</li>
            <li class="active" onClick="filterImages('web'); this.classList.toggle('active');">Web</li>
        {% else %}
            <li class="active" onClick="filterImages('email'); this.classList.toggle('active');">Email</li>
            <li onClick="filterImages('mobile'); this.classList.toggle('active');">Mobile</li>
            <li onClick="filterImages('web'); this.classList.toggle('active');">Web</li>
        {% endif %}
        </ul>

        {% if page.tags != null %}
            <ul class="tags">
                {% for tag in page.tags %}
                    <li>{{tag}}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="grid">
            {% for image in site.static_files %}
                {% if image.path contains gallery_path %}
                    {% if image.extname contains 'png' or image.extname contains 'jpg' or image.extname contains 'jpeg' or image.extname contains 'gif' %}
                        {% if image.path contains 'Mobile' %}
                            <div class="img-item mobile">
                                <a href="{{ site.baseurl }}{{ image.path }}" target="_blank">
                                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                                </a>
                            </div>
                        {% elsif image.path contains 'Web' %}
                            <div class="img-item web">
                                <a href="{{ site.baseurl }}{{ image.path }}" target="_blank">
                                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                                </a>
                            </div>
                        {% else %}
                            <div class="img-item email">
                                <a href="{{ site.baseurl }}{{ image.path }}" target="_blank">
                                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

    

        
    </section>
    


    <script>
        {% if page.url contains 'Mobile' %}
            filterImages('web');
            filterImages('email');
        {% elsif page.url contains 'Web' %}
            filterImages('mobile');
            filterImages('email');
        {% else %}
            filterImages('web');
            filterImages('mobile');
        {% endif %}
    </script>


{% include footer.html %}

    