{% include head.html %}

    <section>

        {% if page.gallery-directory != null %}
            {% capture gallery_path %}/{{ page.gallery-directory }}{% endcapture %}
        {% else %}
            {% capture gallery_path %}/{% endcapture %}
        {% endif %}
        <h1>{{ page.gallery-directory }}</h1>
        {% if page.tags != null %}
            <ul class="tags">
                {% for tag in page.tags %}
                    <li>{{tag}}</li>
                {% endfor %}
            </ul>
        {% endif %}

        
        <div class="grid">
            {% for image in site.static_files %}
                {% if image.path contains gallery_path %}
                    {% if image.path contains 'mobile' %}
                        <div class="img-item mobile">
                            <a href="{{ site.baseurl }}{{ image.path }}" target="_blank">
                                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                            </a>
                        </div>
                    {% else %}
                        <div class="img-item">
                            <a href="{{ site.baseurl }}{{ image.path }}" target="_blank">
                                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        
    </section>
        
{% include footer.html %}

    